@charset "UTF-8";

/* Animation */

 @-webkit-keyframes pageTop { 0% {
opacity: 0;
-webkit-transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
-webkit-transform: perspective(400px) rotateX(0deg);
}
}
 @-moz-keyframes pageTop { 0% {
opacity: 0;
-moz-transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
-moz-transform: perspective(400px) rotateX(0deg);
}
}
 @-o-keyframes pageTop { 0% {
opacity: 0;
-o-transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
-o-transform: perspective(400px) rotateX(0deg);
}
}
 @keyframes pageTop { 0% {
opacity: 0;
transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
transform: perspective(400px) rotateX(0deg);
}
}
@keyframes starwars { 0% {
opacity: 0;
transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg);
}
 80% {
opacity: 1;
transform: perspective(200px) scale(1) rotateX(60deg)
}
 100% {
opacity: 1;
transform: perspective(200px) scale(1) rotateX(0deg)
}
}

/*index animations*/
@-webkit-keyframes animations { 0% {
-webkit-transform:translate(0);
opacity:0;
}
 50% {
-webkit-transform:translate(30px);
opacity:.5;
}
 100% {
-webkit-transform:translate(60px);
opacity:1;
}
}

@-moz-keyframes animations { 0% {
-moz-transform:translate(0);
opacity:0;
}
 50% {
-moz-transform:translate(30px);
opacity:.5;
}
 100% {
-moz-transform:translate(60px);
opacity:1;
}
}

@-o-keyframes animations { 0% {
-o-transform:translate(0);
opacity:0;
}
 50% {
-o-transform:translate(30px);
opacity:.5;
}
 100% {
-o-transform:translate(60px);
opacity:1;
}
}

@-ms-keyframes animations { 0% {
-ms-transform:translate(0);
opacity:0;
}
 50% {
-ms-transform:translate(30px);
opacity:.5;
}
 100% {
-ms-transform:translate(60px);
opacity:1;
}
}

@keyframes animations { 0% {
transform:translate(0);
opacity:0;
}
 50% {
transform:translate(30px);
opacity:.5;
}
 100% {
transform:translate(60px);
opacity:1;
}
}

@-webkit-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@-moz-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@-o-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@-ms-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
